In [1]:
import pandas as pd

In [2]:
df2 = pd.read_csv('../../../Data/raw_data/2. greatest_artists_grammys_billboard.csv')
df2

,Rolling Stone Magazine Rank,Artist,Racial/Ethnic group,Main Grammy awards,Main Grammy Nominations,Total Awards,Total Nominations,UK number 1's
0,1,The Beatles,White/European,2,10,14,29,17
1,2,Bob Dylan,White/European,1,4,10,38,1
2,3,Elvis Presley,White/European,0,2,2,4,21
3,4,The Rolling Stones,White/European,0,1,4,14,8
4,5,Chuck Berry,Black/African,0,0,0,0,1
...,...,...,...,...,...,...,...,...
95,96,Diana Ross and the Supremes,Black/African,0,0,0,2,1
96,97,R.E.M.,White/European,0,3,3,13,0
97,98,Curtis Mayfield,Black/African,0,0,0,8,0
98,99,Carl Perkins,White/European,0,0,1,2,0
99,100,Talking Heads,White/European,0,0,0,2,0

In [ ]:
#what is possible to gather from this data set ?
    # Genres with more grammys --> have to relation this with data frame 1 because here we do not have a column genre. so the name of the artist have to be normalized with data set 1 before concatenating
    # Genres with more grammy nomiations --> The agrregation of genres it only can be done after de cleaning and the concatenating with data set 1
    
    #here we only see at the grammys awards/nominations since it is one of the most important and old award in music since 1959

In [3]:
df2[df2['Artist']== 'Kanye West']

Empty DataFrame
Columns: [Rolling Stone Magazine Rank, Artist, Racial/Ethnic group, Main Grammy awards, Main Grammy Nominations, Total Awards, Total Nominations, UK number 1's]
Index: []

In [ ]:
df2.columns

In [ ]:
# Columns to drop since they are no needed

df2 = df2.drop(['Rolling Stone Magazine Rank', 'Racial/Ethnic group','Total Nominations', "UK number 1's",'Total Awards'], axis = 1)
df2

In [ ]:
#Normalizing columns names

cols = []
for column in df2.columns:
    cols.append(column.lower())
df2.columns = cols
df2.columns

#renaming columns so they can be normalized with df1 (other Notebook) 

df2 = df2.rename(columns = {'artist':'artist_name', 'main grammy awards':'main_grammy_awards', 
                            'main grammy nominations':'main_grammy_nominations'})
df2

In [ ]:
df2.info() #--> No null cells in all the columns

In [ ]:
df2['artist_name'] = df2['artist_name'].str.lower() #Lower all cells in artist_name
df2

In [ ]:
df2[(df2['main_grammy_awards']==0) &(df2['main_grammy_nominations']!=0)]

In [ ]:
#df2.to_csv('../../../Data/cleaned_data/2. greatest_artists_grammys_billboard_CLEANED.csv', index = False)