In [1]:

import pandas as pd

most_popular_albuns_and_nominated_artists = pd.read_csv('../../Data/cleaned_data/merged_data/most_popular_albuns_and_nominated_artists.csv')

#spotify_top_hits_2000_2019 = pd.read_csv('../../Data/cleaned_data/3. Top Hits Spotify from 2000-2019[CLEANED].csv')

best_selling_artists_of_all_time = pd.read_csv('../../Data/cleaned_data/4. best_selling_artists_of_all_time[CLEANED].csv')

#spotify_most_played_songs_of_all_time = pd.read_csv('../../Data/cleaned_data/5. Spotify-2000.csv')

In [2]:
most_popular_albuns_and_nominated_artists

,popular_ranking,artist_name,release_date,genre,total_awards_nominations,uk number 1's
0,1.0,radiohead,1997.0,rock,18.0,0.0
1,2.0,radiohead,2000.0,rock,18.0,0.0
2,6.0,radiohead,2007.0,rock,18.0,0.0
3,9.0,radiohead,1995.0,rock,18.0,0.0
4,21.0,radiohead,2001.0,rock,18.0,0.0
...,...,...,...,...,...,...
4862,0.0,the drifters,1960.0,soul_funk,1.0,0.0
4863,0.0,james taylor,1970.0,folk,18.0,0.0
4864,0.0,booker t & the mg's,1960.0,soul_funk,4.0,0.0
4865,0.0,diana ross and the supremes,1970.0,soul_funk,2.0,1.0
4866,0.0,carl perkins,1950.0,rock,2.0,0.0

In [3]:
best_selling_artists_of_all_time

         artist_name         country  year      genre  sales
0        the beatles  united kingdom  1962       rock    600
1      elvis presley   united states  1956       rock    500
2    michael jackson   united states  1971        pop    400
3         elton john  united kingdom  1970        pop    300
4              queen  united kingdom  1973       rock    300
..               ...             ...   ...        ...    ...
116       the police  united kingdom  1978        pop     75
117   gloria estefan   united states  1984  latin pop     75
118    barry manilow   united states  1973        pop     75
119             kiss   united states  1974       rock     75
120  aretha franklin   united states  1961  soul_funk     75

[121 rows x 5 columns]

In [4]:
a = most_popular_albuns_and_nominated_artists
b = best_selling_artists_of_all_time

most_popular_albuns_and_nominated_artists_with_sales = pd.merge(left = a, right = b, left_on = 'artist_name', 
                                                   right_on = 'artist_name', how = 'outer' )

most_popular_albuns_and_nominated_artists_with_sales.tail(50)

,popular_ranking,artist_name,release_date,genre_x,total_awards_nominations,uk number 1's,country,year,genre_y,sales
4862,0.0,the drifters,1960.0,soul_funk,1.0,0.0,NaN,NaN,NaN,NaN
4863,0.0,james taylor,1970.0,folk,18.0,0.0,united states,1970.0,rock,100.0
4864,0.0,booker t & the mg's,1960.0,soul_funk,4.0,0.0,NaN,NaN,NaN,NaN
4865,0.0,diana ross and the supremes,1970.0,soul_funk,2.0,1.0,NaN,NaN,NaN,NaN
4866,0.0,carl perkins,1950.0,rock,2.0,0.0,NaN,NaN,NaN,NaN
4867,NaN,mariah carey,NaN,NaN,NaN,NaN,united states,1990.0,pop,220.0
4868,NaN,whitney houston,NaN,NaN,NaN,NaN,united states,1984.0,pop,200.0
4869,NaN,celine dion,NaN,NaN,NaN,NaN,canada,1981.0,rock,200.0
4870,NaN,garth brooks,NaN,NaN,NaN,NaN,united states,1989.0,country,170.0
4871,NaN,barbra streisand,NaN,NaN,NaN,NaN,united states,1963.0,pop,150.0
4872,NaN,chris brown,NaN,NaN,NaN,NaN,united states,2005.0,pop,140.0
4873,NaN,bee gees,NaN,NaN,NaN,NaN,united kingdom,1963.0,pop,120.0
4874,NaN,george strait,NaN,NaN,NaN,NaN,united states,1984.0,country,100.0
4875,NaN,pink,NaN,NaN,NaN,NaN,united states,2000.0,pop,100.0
4876,NaN,b'z,NaN,NaN,NaN,NaN,japan,1988.0,rock,100.0
4877,NaN,shania twain,NaN,NaN,NaN,NaN,canada,1993.0,country,100.0
4878,NaN,backstreet boys,NaN,NaN,NaN,NaN,united states,1995.0,pop,100.0
4879,NaN,neil diamond,NaN,NaN,NaN,NaN,united states,1966.0,pop,100.0
4880,NaN,journey,NaN,NaN,NaN,NaN,united states,1975.0,rock,100.0
4881,NaN,kenny rogers,NaN,NaN,NaN,NaN,united states,1975.0,country,100.0
4882,NaN,julio iglesias,NaN,NaN,NaN,NaN,spain,1968.0,latin pop,100.0
4883,NaN,foreigner,NaN,NaN,NaN,NaN,united states,1977.0,rock,100.0
4884,NaN,chicago,NaN,NaN,NaN,NaN,united states,1969.0,rock,100.0
4885,NaN,the carpenters,NaN,NaN,NaN,NaN,united states,1969.0,pop,100.0
4886,NaN,"earth, wind & fire",NaN,NaN,NaN,NaN,united states,1971.0,pop,100.0
4887,NaN,cher,NaN,NaN,NaN,NaN,united states,1965.0,pop,100.0
4888,NaN,olivia newton-john,NaN,NaN,NaN,NaN,australia,1966.0,pop,100.0
4889,NaN,linda ronstadt,NaN,NaN,NaN,NaN,united states,1968.0,rock,100.0
4890,NaN,donna summer,NaN,NaN,NaN,NaN,united states,1974.0,pop,100.0
4891,NaN,alicia keys,NaN,NaN,NaN,NaN,united states,2001.0,pop,90.0
4892,NaN,christina aguilera,NaN,NaN,NaN,NaN,united states,1998.0,pop,901.0
4893,NaN,lionel richie,NaN,NaN,NaN,NaN,united states,1981.0,pop,90.0
4894,NaN,flo rida,NaN,NaN,NaN,NaN,united states,2007.0,hip-hop,80.0
4895,NaN,usher,NaN,NaN,NaN,NaN,united states,1994.0,pop,80.0
4896,NaN,shakira,NaN,NaN,NaN,NaN,colombia,1995.0,latin pop,80.0
4897,NaN,tim mcgraw,NaN,NaN,NaN,NaN,united states,1994.0,country,80.0
4898,NaN,ayumi hamasaki,NaN,NaN,NaN,NaN,japan,1998.0,electronic,80.0
4899,NaN,johnny hallyday,NaN,NaN,NaN,NaN,france,1960.0,rock,80.0
4900,NaN,luke bryan,NaN,NaN,NaN,NaN,united states,2007.0,country,75.0
4901,NaN,tupac shakur,NaN,NaN,NaN,NaN,united states,1991.0,hip-hop,75.0
4902,NaN,alabama,NaN,NaN,NaN,NaN,united states,1980.0,country,75.0
4903,NaN,r. kelly,NaN,NaN,NaN,NaN,united states,1991.0,pop,75.0
4904,NaN,robbie williams,NaN,NaN,NaN,NaN,united kingdom,1996.0,pop,75.0
4905,NaN,bob seger,NaN,NaN,NaN,NaN,united states,1967.0,rock,75.0
4906,NaN,kenny g,NaN,NaN,NaN,NaN,united states,1984.0,jazz,75.0
4907,NaN,enya,NaN,NaN,NaN,NaN,ireland,1987.0,new-age / celtic,75.0
4908,NaN,bryan adams,NaN,NaN,NaN,NaN,canada,1979.0,rock,75.0
4909,NaN,bob marley,NaN,NaN,NaN,NaN,jamaica,1975.0,reggae,75.0
4910,NaN,gloria estefan,NaN,NaN,NaN,NaN,united states,1984.0,latin pop,75.0
4911,NaN,barry manilow,NaN,NaN,NaN,NaN,united states,1973.0,pop,75.0

In [5]:
#drop columns that we'll don't need to achieve the project main goals
   
most_popular_albuns_and_nominated_artists_with_sales = most_popular_albuns_and_nominated_artists_with_sales.drop(['country'], axis = 1)

In [6]:
most_popular_albuns_and_nominated_artists_with_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4912 entries, 0 to 4911
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   popular_ranking           4867 non-null   float64
 1   artist_name               4912 non-null   object
 2   release_date              4867 non-null   float64
 3   genre_x                   4867 non-null   object
 4   total_awards_nominations  4867 non-null   float64
 5   uk number 1's             4867 non-null   float64
 6   year                      528 non-null    float64
 7   genre_y                   528 non-null    object
 8   sales                     528 non-null    float64
dtypes: float64(6), object(3)
memory usage: 383.8+ KB

In [7]:
d_test = most_popular_albuns_and_nominated_artists_with_sales[most_popular_albuns_and_nominated_artists_with_sales['popular_ranking'].isna() == True]
d_test.shape
# it's good to check if this artists are not included in the df most_popular_albuns so we can see if the merge went well

list1 = list(d_test['artist_name'])
most_popular_albuns_and_nominated_artists['popular_ranking'].isin(list1).value_counts() #--> all false: ok!
    # merge went's good since none of that artist is in the df 'most_popular_albuns'
    
d_test2 = most_popular_albuns_and_nominated_artists_with_sales[most_popular_albuns_and_nominated_artists_with_sales['release_date'].isna() == True]#--> all false: ok!
d_test2.shape
     # merge went's good by checking the missing values in the column release_date
    
list1 = list(d_test['artist_name'])
most_popular_albuns_and_nominated_artists['total_awards_nominations'].isin(list1).value_counts() #--> all false: ok!
    # merge went's good since none of that artist is in the df 'most_popular_albuns'

False    4867
Name: total_awards_nominations, dtype: int64

In [8]:
# Now it is important to fill all the missing values
# For this, the approach will be to replace the existing column, that have Nan, with the information given of the columns
 # of the last merge.




most_popular_albuns_and_nominated_artists_with_sales[most_popular_albuns_and_nominated_artists_with_sales['popular_ranking'].\
                                                     isna() == True]

,popular_ranking,artist_name,release_date,genre_x,total_awards_nominations,uk number 1's,year,genre_y,sales
4867,NaN,mariah carey,NaN,NaN,NaN,NaN,1990.0,pop,220.0
4868,NaN,whitney houston,NaN,NaN,NaN,NaN,1984.0,pop,200.0
4869,NaN,celine dion,NaN,NaN,NaN,NaN,1981.0,rock,200.0
4870,NaN,garth brooks,NaN,NaN,NaN,NaN,1989.0,country,170.0
4871,NaN,barbra streisand,NaN,NaN,NaN,NaN,1963.0,pop,150.0
4872,NaN,chris brown,NaN,NaN,NaN,NaN,2005.0,pop,140.0
4873,NaN,bee gees,NaN,NaN,NaN,NaN,1963.0,pop,120.0
4874,NaN,george strait,NaN,NaN,NaN,NaN,1984.0,country,100.0
4875,NaN,pink,NaN,NaN,NaN,NaN,2000.0,pop,100.0
4876,NaN,b'z,NaN,NaN,NaN,NaN,1988.0,rock,100.0
4877,NaN,shania twain,NaN,NaN,NaN,NaN,1993.0,country,100.0
4878,NaN,backstreet boys,NaN,NaN,NaN,NaN,1995.0,pop,100.0
4879,NaN,neil diamond,NaN,NaN,NaN,NaN,1966.0,pop,100.0
4880,NaN,journey,NaN,NaN,NaN,NaN,1975.0,rock,100.0
4881,NaN,kenny rogers,NaN,NaN,NaN,NaN,1975.0,country,100.0
4882,NaN,julio iglesias,NaN,NaN,NaN,NaN,1968.0,latin pop,100.0
4883,NaN,foreigner,NaN,NaN,NaN,NaN,1977.0,rock,100.0
4884,NaN,chicago,NaN,NaN,NaN,NaN,1969.0,rock,100.0
4885,NaN,the carpenters,NaN,NaN,NaN,NaN,1969.0,pop,100.0
4886,NaN,"earth, wind & fire",NaN,NaN,NaN,NaN,1971.0,pop,100.0
4887,NaN,cher,NaN,NaN,NaN,NaN,1965.0,pop,100.0
4888,NaN,olivia newton-john,NaN,NaN,NaN,NaN,1966.0,pop,100.0
4889,NaN,linda ronstadt,NaN,NaN,NaN,NaN,1968.0,rock,100.0
4890,NaN,donna summer,NaN,NaN,NaN,NaN,1974.0,pop,100.0
4891,NaN,alicia keys,NaN,NaN,NaN,NaN,2001.0,pop,90.0
4892,NaN,christina aguilera,NaN,NaN,NaN,NaN,1998.0,pop,901.0
4893,NaN,lionel richie,NaN,NaN,NaN,NaN,1981.0,pop,90.0
4894,NaN,flo rida,NaN,NaN,NaN,NaN,2007.0,hip-hop,80.0
4895,NaN,usher,NaN,NaN,NaN,NaN,1994.0,pop,80.0
4896,NaN,shakira,NaN,NaN,NaN,NaN,1995.0,latin pop,80.0
4897,NaN,tim mcgraw,NaN,NaN,NaN,NaN,1994.0,country,80.0
4898,NaN,ayumi hamasaki,NaN,NaN,NaN,NaN,1998.0,electronic,80.0
4899,NaN,johnny hallyday,NaN,NaN,NaN,NaN,1960.0,rock,80.0
4900,NaN,luke bryan,NaN,NaN,NaN,NaN,2007.0,country,75.0
4901,NaN,tupac shakur,NaN,NaN,NaN,NaN,1991.0,hip-hop,75.0
4902,NaN,alabama,NaN,NaN,NaN,NaN,1980.0,country,75.0
4903,NaN,r. kelly,NaN,NaN,NaN,NaN,1991.0,pop,75.0
4904,NaN,robbie williams,NaN,NaN,NaN,NaN,1996.0,pop,75.0
4905,NaN,bob seger,NaN,NaN,NaN,NaN,1967.0,rock,75.0
4906,NaN,kenny g,NaN,NaN,NaN,NaN,1984.0,jazz,75.0
4907,NaN,enya,NaN,NaN,NaN,NaN,1987.0,new-age / celtic,75.0
4908,NaN,bryan adams,NaN,NaN,NaN,NaN,1979.0,rock,75.0
4909,NaN,bob marley,NaN,NaN,NaN,NaN,1975.0,reggae,75.0
4910,NaN,gloria estefan,NaN,NaN,NaN,NaN,1984.0,latin pop,75.0
4911,NaN,barry manilow,NaN,NaN,NaN,NaN,1973.0,pop,75.0

In [9]:
# Column 'genre'

most_popular_albuns_and_nominated_artists_with_sales.loc[4868:4912,['genre_x']] = most_popular_albuns_and_nominated_artists_with_sales['genre_y'].str.lower()

In [10]:
# Column 'release_date' --> this column will have the years of release dates from albuns and the reference 
    #year of each artist active period  
most_popular_albuns_and_nominated_artists_with_sales.loc[4868:4912,['release_date']] = most_popular_albuns_and_nominated_artists_with_sales['year']

In [11]:
most_popular_albuns_and_nominated_artists_with_sales[most_popular_albuns_and_nominated_artists_with_sales['popular_ranking'].\
                                                     isna() == True]

,popular_ranking,artist_name,release_date,genre_x,total_awards_nominations,uk number 1's,year,genre_y,sales
4867,NaN,mariah carey,NaN,NaN,NaN,NaN,1990.0,pop,220.0
4868,NaN,whitney houston,1984.0,pop,NaN,NaN,1984.0,pop,200.0
4869,NaN,celine dion,1981.0,rock,NaN,NaN,1981.0,rock,200.0
4870,NaN,garth brooks,1989.0,country,NaN,NaN,1989.0,country,170.0
4871,NaN,barbra streisand,1963.0,pop,NaN,NaN,1963.0,pop,150.0
4872,NaN,chris brown,2005.0,pop,NaN,NaN,2005.0,pop,140.0
4873,NaN,bee gees,1963.0,pop,NaN,NaN,1963.0,pop,120.0
4874,NaN,george strait,1984.0,country,NaN,NaN,1984.0,country,100.0
4875,NaN,pink,2000.0,pop,NaN,NaN,2000.0,pop,100.0
4876,NaN,b'z,1988.0,rock,NaN,NaN,1988.0,rock,100.0
4877,NaN,shania twain,1993.0,country,NaN,NaN,1993.0,country,100.0
4878,NaN,backstreet boys,1995.0,pop,NaN,NaN,1995.0,pop,100.0
4879,NaN,neil diamond,1966.0,pop,NaN,NaN,1966.0,pop,100.0
4880,NaN,journey,1975.0,rock,NaN,NaN,1975.0,rock,100.0
4881,NaN,kenny rogers,1975.0,country,NaN,NaN,1975.0,country,100.0
4882,NaN,julio iglesias,1968.0,latin pop,NaN,NaN,1968.0,latin pop,100.0
4883,NaN,foreigner,1977.0,rock,NaN,NaN,1977.0,rock,100.0
4884,NaN,chicago,1969.0,rock,NaN,NaN,1969.0,rock,100.0
4885,NaN,the carpenters,1969.0,pop,NaN,NaN,1969.0,pop,100.0
4886,NaN,"earth, wind & fire",1971.0,pop,NaN,NaN,1971.0,pop,100.0
4887,NaN,cher,1965.0,pop,NaN,NaN,1965.0,pop,100.0
4888,NaN,olivia newton-john,1966.0,pop,NaN,NaN,1966.0,pop,100.0
4889,NaN,linda ronstadt,1968.0,rock,NaN,NaN,1968.0,rock,100.0
4890,NaN,donna summer,1974.0,pop,NaN,NaN,1974.0,pop,100.0
4891,NaN,alicia keys,2001.0,pop,NaN,NaN,2001.0,pop,90.0
4892,NaN,christina aguilera,1998.0,pop,NaN,NaN,1998.0,pop,901.0
4893,NaN,lionel richie,1981.0,pop,NaN,NaN,1981.0,pop,90.0
4894,NaN,flo rida,2007.0,hip-hop,NaN,NaN,2007.0,hip-hop,80.0
4895,NaN,usher,1994.0,pop,NaN,NaN,1994.0,pop,80.0
4896,NaN,shakira,1995.0,latin pop,NaN,NaN,1995.0,latin pop,80.0
4897,NaN,tim mcgraw,1994.0,country,NaN,NaN,1994.0,country,80.0
4898,NaN,ayumi hamasaki,1998.0,electronic,NaN,NaN,1998.0,electronic,80.0
4899,NaN,johnny hallyday,1960.0,rock,NaN,NaN,1960.0,rock,80.0
4900,NaN,luke bryan,2007.0,country,NaN,NaN,2007.0,country,75.0
4901,NaN,tupac shakur,1991.0,hip-hop,NaN,NaN,1991.0,hip-hop,75.0
4902,NaN,alabama,1980.0,country,NaN,NaN,1980.0,country,75.0
4903,NaN,r. kelly,1991.0,pop,NaN,NaN,1991.0,pop,75.0
4904,NaN,robbie williams,1996.0,pop,NaN,NaN,1996.0,pop,75.0
4905,NaN,bob seger,1967.0,rock,NaN,NaN,1967.0,rock,75.0
4906,NaN,kenny g,1984.0,jazz,NaN,NaN,1984.0,jazz,75.0
4907,NaN,enya,1987.0,new-age / celtic,NaN,NaN,1987.0,new-age / celtic,75.0
4908,NaN,bryan adams,1979.0,rock,NaN,NaN,1979.0,rock,75.0
4909,NaN,bob marley,1975.0,reggae,NaN,NaN,1975.0,reggae,75.0
4910,NaN,gloria estefan,1984.0,latin pop,NaN,NaN,1984.0,latin pop,75.0
4911,NaN,barry manilow,1973.0,pop,NaN,NaN,1973.0,pop,75.0

In [12]:
def clean_soul(x):
    if ('soul' in x):
        return 'soul_funk'
    else:
        return x

In [13]:
# Columns 'total_awards_nominations', "uk number 1's", "popular_ranking" --> for those columns the Nan will be replaced by 0 since
    # some of the artist with most sales don't have nominations or presences on "uk number 1's", neither albuns on the the list of
        #the most popular ones.

most_popular_albuns_and_nominated_artists_with_sales['total_awards_nominations'] = most_popular_albuns_and_nominated_artists_with_sales['total_awards_nominations'].fillna(0)
most_popular_albuns_and_nominated_artists_with_sales["uk number 1's"] = most_popular_albuns_and_nominated_artists_with_sales["uk number 1's"].fillna(0)
most_popular_albuns_and_nominated_artists_with_sales['popular_ranking'] = most_popular_albuns_and_nominated_artists_with_sales['popular_ranking'].fillna(0)

#Column 'Sales' null values will be replaced by 0 since this null's correspond to the artists that have popular albuns, or award nominations
    #but are not in the list of the most profitable musicians

most_popular_albuns_and_nominated_artists_with_sales['sales'] = most_popular_albuns_and_nominated_artists_with_sales['sales']\
.fillna(0)

In [14]:
most_popular_albuns_and_nominated_artists_with_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4912 entries, 0 to 4911
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   popular_ranking           4912 non-null   float64
 1   artist_name               4912 non-null   object
 2   release_date              4911 non-null   float64
 3   genre_x                   4911 non-null   object
 4   total_awards_nominations  4912 non-null   float64
 5   uk number 1's             4912 non-null   float64
 6   year                      528 non-null    float64
 7   genre_y                   528 non-null    object
 8   sales                     4912 non-null   float64
dtypes: float64(6), object(3)
memory usage: 512.8+ KB

In [15]:
most_popular_albuns_and_nominated_artists_with_sales

,popular_ranking,artist_name,release_date,genre_x,total_awards_nominations,uk number 1's,year,genre_y,sales
0,1.0,radiohead,1997.0,rock,18.0,0.0,NaN,NaN,0.0
1,2.0,radiohead,2000.0,rock,18.0,0.0,NaN,NaN,0.0
2,6.0,radiohead,2007.0,rock,18.0,0.0,NaN,NaN,0.0
3,9.0,radiohead,1995.0,rock,18.0,0.0,NaN,NaN,0.0
4,21.0,radiohead,2001.0,rock,18.0,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...
4907,0.0,enya,1987.0,new-age / celtic,0.0,0.0,1987.0,new-age / celtic,75.0
4908,0.0,bryan adams,1979.0,rock,0.0,0.0,1979.0,rock,75.0
4909,0.0,bob marley,1975.0,reggae,0.0,0.0,1975.0,reggae,75.0
4910,0.0,gloria estefan,1984.0,latin pop,0.0,0.0,1984.0,latin pop,75.0
4911,0.0,barry manilow,1973.0,pop,0.0,0.0,1973.0,pop,75.0

In [16]:
# right now, the columns 'year','genre_y' are no needed

most_popular_albuns_and_nominated_artists_with_sales = most_popular_albuns_and_nominated_artists_with_sales.drop\
(['year','genre_y'],axis = 1)

In [17]:
most_popular_albuns_and_nominated_artists_with_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4912 entries, 0 to 4911
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   popular_ranking           4912 non-null   float64
 1   artist_name               4912 non-null   object
 2   release_date              4911 non-null   float64
 3   genre_x                   4911 non-null   object
 4   total_awards_nominations  4912 non-null   float64
 5   uk number 1's             4912 non-null   float64
 6   sales                     4912 non-null   float64
dtypes: float64(5), object(2)
memory usage: 436.0+ KB

In [18]:
most_popular_albuns_and_nominated_artists_with_sales[most_popular_albuns_and_nominated_artists_with_sales['release_date'].isna() == True]

most_popular_albuns_and_nominated_artists_with_sales['release_date']= most_popular_albuns_and_nominated_artists_with_sales\
['release_date'].fillna(1990)

most_popular_albuns_and_nominated_artists_with_sales['genre_x']= most_popular_albuns_and_nominated_artists_with_sales\
['genre_x'].fillna('pop')

In [19]:
# Finally, for the exploratory analisis of this data fram, the column names need to be update so that can be more clear about 
    #their meaning

most_popular_albuns_and_nominated_artists_with_sales = most_popular_albuns_and_nominated_artists_with_sales.rename\
(columns={'popular_ranking':'popular_albuns_rank', 'artist_name':'artist_band', 'genre_x':'musical_genre', 'sales':'million_sales','release_date':'reference_year'})

In [20]:
most_popular_albuns_and_nominated_artists_with_sales['reference_year'] = most_popular_albuns_and_nominated_artists_with_sales\
['reference_year'].apply(lambda x: int(x))

most_popular_albuns_and_nominated_artists_with_sales['popular_albuns_rank'] = most_popular_albuns_and_nominated_artists_with_sales\
['popular_albuns_rank'].apply(lambda x: int(x))

most_popular_albuns_and_nominated_artists_with_sales['total_awards_nominations'] = most_popular_albuns_and_nominated_artists_with_sales\
['total_awards_nominations'].apply(lambda x: int(x))

most_popular_albuns_and_nominated_artists_with_sales["uk number 1's"] = most_popular_albuns_and_nominated_artists_with_sales\
["uk number 1's"].apply(lambda x: int(x))

most_popular_albuns_and_nominated_artists_with_sales["million_sales"] = most_popular_albuns_and_nominated_artists_with_sales\
["million_sales"].apply(lambda x: int(x))

In [21]:
most_popular_albuns_and_nominated_artists_with_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4912 entries, 0 to 4911
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   popular_albuns_rank       4912 non-null   int64
 1   artist_band               4912 non-null   object
 2   reference_year            4912 non-null   int64
 3   musical_genre             4912 non-null   object
 4   total_awards_nominations  4912 non-null   int64
 5   uk number 1's             4912 non-null   int64
 6   million_sales             4912 non-null   int64
dtypes: int64(5), object(2)
memory usage: 436.0+ KB

In [22]:
# duplicated artists --> so the final results of exploration data don't get corrupted, is very important to deal with this duplicates
    # this duplicates are from df1 where one artist can have more than one popular album. We still have this information in other
        #files because it is interesting to evaluate the musical_genre popularity by analyzing the most popular albuns

# deal with duplicated artists approach: we'll delete all the duplicates and leave the first occurence.
    # this approach is good enough since thi first occurente represents the most popular album of that artist/band
        #that we can assume that represents his reference year of more musical activity
        
most_popular_albuns_and_nominated_artists_with_sales.drop_duplicates(subset = ['artist_band'], keep = 'first', inplace = True)

#most_popular_albuns_and_nominated_artists_with_sales.iloc[340:400,[1,2]]

In [23]:
most_popular_albuns_and_nominated_artists_with_sales

,popular_albuns_rank,artist_band,reference_year,musical_genre,total_awards_nominations,uk number 1's,million_sales
0,1,radiohead,1997,rock,18,0,0
10,3,pink floyd,1973,rock,4,1,250
24,4,my bloody valentine,1991,rock,0,0,0
27,5,kanye west,2010,pop,0,0,160
37,8,neutral milk hotel,1998,rock,0,0,0
...,...,...,...,...,...,...,...
4907,0,enya,1987,new-age / celtic,0,0,75
4908,0,bryan adams,1979,rock,0,0,75
4909,0,bob marley,1975,reggae,0,0,75
4910,0,gloria estefan,1984,latin pop,0,0,75
4911,0,barry manilow,1973,pop,0,0,75

In [24]:
most_popular_albuns_and_nominated_artists_with_sales['musical_genre'].value_counts()

rock                890
pop                 305
metal               245
hip-hop             178
electronic          172
jazz                111
folk                 75
soul_funk            67
country              18
reggae                7
blues                 5
latin pop             3
new-age / celtic      1
Name: musical_genre, dtype: int64

In [25]:
most_popular_albuns_and_nominated_artists_with_sales

,popular_albuns_rank,artist_band,reference_year,musical_genre,total_awards_nominations,uk number 1's,million_sales
0,1,radiohead,1997,rock,18,0,0
10,3,pink floyd,1973,rock,4,1,250
24,4,my bloody valentine,1991,rock,0,0,0
27,5,kanye west,2010,pop,0,0,160
37,8,neutral milk hotel,1998,rock,0,0,0
...,...,...,...,...,...,...,...
4907,0,enya,1987,new-age / celtic,0,0,75
4908,0,bryan adams,1979,rock,0,0,75
4909,0,bob marley,1975,reggae,0,0,75
4910,0,gloria estefan,1984,latin pop,0,0,75
4911,0,barry manilow,1973,pop,0,0,75

In [26]:
most_popular_albuns_and_nominated_artists_with_sales[most_popular_albuns_and_nominated_artists_with_sales['musical_genre']=='soul_funk']

,popular_albuns_rank,artist_band,reference_year,musical_genre,total_awards_nominations,uk number 1's,million_sales
171,35,"tyler, the creator",2019,soul_funk,0,0,0
622,174,marvin gaye,1971,soul_funk,12,1,0
999,286,the weeknd,2020,soul_funk,0,0,75
1325,420,childish gambino,2016,soul_funk,0,0,0
1329,425,stevie wonder,1976,soul_funk,74,2,100
...,...,...,...,...,...,...,...
4859,0,jackie wilson,1960,soul_funk,2,0,0
4861,0,the four tops,1960,soul_funk,1,1,0
4862,0,the drifters,1960,soul_funk,1,0,0
4864,0,booker t & the mg's,1960,soul_funk,4,0,0
4865,0,diana ross and the supremes,1970,soul_funk,2,1,0

In [27]:
most_popular_albuns_and_nominated_artists_with_sales.to_csv('../../Data/cleaned_data/merged_data/most_popular_albuns_and_nominated_artists_with_sales.csv', index=False)

In [30]:
most_popular_albuns_and_nominated_artists_with_sales[(most_popular_albuns_and_nominated_artists_with_sales\
['musical_genre']=='soul_funk') & (most_popular_albuns_and_nominated_artists_with_sales['total_awards_nominations']!=0)]

,popular_albuns_rank,artist_band,reference_year,musical_genre,total_awards_nominations,uk number 1's,million_sales
622,174,marvin gaye,1971,soul_funk,12,1,0
1329,425,stevie wonder,1976,soul_funk,74,2,100
1705,630,jay-z,2001,soul_funk,77,4,125
1997,794,curtis mayfield,1972,soul_funk,8,0,0
2434,1147,otis redding,1965,soul_funk,5,0,0
3086,1815,aretha franklin,1967,soul_funk,44,1,75
4070,3259,al green,1972,soul_funk,21,0,0
4398,3880,james brown,1973,soul_funk,8,0,0
4846,0,ray charles,1960,soul_funk,37,1,0
4848,0,sam cooke,1960,soul_funk,6,0,0
4852,0,smokey robinson & the miracles,1960,soul_funk,1,0,0
4858,0,the temptations,1970,soul_funk,9,0,0
4859,0,jackie wilson,1960,soul_funk,2,0,0
4861,0,the four tops,1960,soul_funk,1,1,0
4862,0,the drifters,1960,soul_funk,1,0,0
4864,0,booker t & the mg's,1960,soul_funk,4,0,0
4865,0,diana ross and the supremes,1970,soul_funk,2,1,0