In [1]:

import pandas as pd

most_popular_albuns = pd.read_csv('../../Data/cleaned_data/1. rate_your_music_top_most_popular_albuns_CLEANED.csv')

artist_grammys = pd.read_csv('../../Data/cleaned_data/2. greatest_artists_grammys_billboard_CLEANED.csv')

#spotify_top_hits_2000_2019 = pd.read_csv('../../Data/cleaned_data/3. Top Hits Spotify from 2000-2019[CLEANED].csv')

#best_selling_artists_of_all_time = pd.read_csv('../../Data/cleaned_data/4. best_selling_artists_of_all_time[CLEANED].csv')

#spotify_most_played_songs_of_all_time = pd.read_csv('../../Data/cleaned_data/5. Spotify-2000.csv')

In [2]:
most_popular_albuns

      popular_ranking          artist_name  release_date       genre
0                   1            radiohead          1997        rock
1                   2            radiohead          2000        rock
2                   3           pink floyd          1973        rock
3                   4  my bloody valentine          1991        rock
4                   5           kanye west          2010         pop
...               ...                  ...           ...         ...
4839             4995       blind guardian          1988       metal
4840             4996              eluvium          2007  electronic
4841             4997            summoning          2001       metal
4842             4999       third ear band          1970        folk
4843             5000                 abba          1977         pop

[4844 rows x 4 columns]

In [3]:
most_popular_albuns['artist_name'].value_counts().head(50)

david bowie                         24
bob dylan                           22
rush                                19
the rolling stones                  18
iron maiden                         17
weezer                              16
black sabbath                       16
swans                               15
the beach boys                      15
r.e.m.                              15
ac/dc                               15
megadeth                            15
queen                               15
judas priest                        15
miles davis                         15
genesis                             14
pink floyd                          14
tom waits                           14
the beatles                         14
king gizzard & the lizard wizard    14
nas                                 13
nine inch nails                     13
opeth                               13
u2                                  13
dream theater                       13
king crimson                        13
depeche mode                        13
green day                           13
sonic youth                         12
the cure                            12
slayer                              12
autechre                            12
yes                                 11
metallica                           11
neil young                          11
taylor swift                        11
beck                                11
xiu xiu                             11
bruce springsteen                   11
deep purple                         11
eminem                              10
the flaming lips                    10
radiohead                           10
madonna                             10
björk                               10
tim hecker                          10
kraftwerk                           10
jay-z                               10
kanye west                          10
foo fighters                         9
Name: artist_name, dtype: int64

In [4]:
artist_grammys

                    artist_name  main_grammy_awards  main_grammy_nominations
0                   the beatles                   2                       10
1                     bob dylan                   1                        4
2                 elvis presley                   0                        2
3            the rolling stones                   0                        1
4                   chuck berry                   0                        0
..                          ...                 ...                      ...
95  diana ross and the supremes                   0                        0
96                       r.e.m.                   0                        3
97              curtis mayfield                   0                        0
98                 carl perkins                   0                        0
99                talking heads                   0                        0

[100 rows x 3 columns]

In [5]:
artist_grammys[artist_grammys['main_grammy_awards']==6]

   artist_name  main_grammy_awards  main_grammy_nominations
21          u2                   6                       11

In [6]:
a = most_popular_albuns.copy()
b = artist_grammys.copy()

In [7]:
df_test = pd.merge(left = a, right = b, left_on = 'artist_name', right_on = 'artist_name', how = 'outer')

In [8]:
df_test.describe()

,popular_ranking,release_date,main_grammy_awards,main_grammy_nominations
count,4844.000000,4844.000000,482.000000,482.00000
mean,2488.989472,1997.650495,0.433610,2.30083
std,1443.240989,16.564837,1.177028,3.29347
min,1.000000,1954.000000,0.000000,0.00000
25%,1235.750000,1985.000000,0.000000,0.00000
50%,2489.500000,2000.000000,0.000000,1.00000
75%,3731.250000,2012.000000,0.000000,3.00000
max,5000.000000,2022.000000,6.000000,11.00000

In [9]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4878 entries, 0 to 4877
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   popular_ranking          4844 non-null   float64
 1   artist_name              4878 non-null   object
 2   release_date             4844 non-null   float64
 3   genre                    4844 non-null   object
 4   main_grammy_awards       482 non-null    float64
 5   main_grammy_nominations  482 non-null    float64
dtypes: float64(4), object(2)
memory usage: 266.8+ KB

In [12]:
artist_grammys[artist_grammys['artist_name'] == 'pink floyd']

   artist_name  main_grammy_awards  main_grammy_nominations
50  pink floyd                   0                        1

In [15]:
most_popular_albuns[most_popular_albuns['artist_name'] == 'santana']

      popular_ranking artist_name  release_date genre
1093             1114     santana          1970  rock
2090             2148     santana          1969  rock
3189             3278     santana          1972  rock
3558             3656     santana          1971  rock
4330             4461     santana          1999  rock

In [20]:
artist_grammys[artist_grammys['artist_name'] == 'lynyrd skynrd']

      artist_name  main_grammy_awards  main_grammy_nominations
94  lynyrd skynrd                   0                        0

In [10]:
df_test.head(50)

,popular_ranking,artist_name,release_date,genre,main_grammy_awards,main_grammy_nominations
0,1.0,radiohead,1997.0,rock,0.0,3.0
1,2.0,radiohead,2000.0,rock,0.0,3.0
2,6.0,radiohead,2007.0,rock,0.0,3.0
3,9.0,radiohead,1995.0,rock,0.0,3.0
4,21.0,radiohead,2001.0,rock,0.0,3.0
5,37.0,radiohead,2003.0,rock,0.0,3.0
6,55.0,radiohead,2016.0,rock,0.0,3.0
7,75.0,radiohead,1993.0,rock,0.0,3.0
8,95.0,radiohead,2011.0,rock,0.0,3.0
9,1762.0,radiohead,2009.0,rock,0.0,3.0
10,3.0,pink floyd,1973.0,rock,0.0,1.0
11,7.0,pink floyd,1975.0,rock,0.0,1.0
12,25.0,pink floyd,1979.0,rock,0.0,1.0
13,27.0,pink floyd,1977.0,rock,0.0,1.0
14,65.0,pink floyd,1967.0,rock,0.0,1.0
15,70.0,pink floyd,1971.0,rock,0.0,1.0
16,175.0,pink floyd,1970.0,rock,0.0,1.0
17,231.0,pink floyd,1968.0,rock,0.0,1.0
18,378.0,pink floyd,1994.0,rock,0.0,1.0
19,416.0,pink floyd,1969.0,rock,0.0,1.0
20,495.0,pink floyd,1983.0,rock,0.0,1.0
21,594.0,pink floyd,1972.0,rock,0.0,1.0
22,626.0,pink floyd,1987.0,rock,0.0,1.0
23,1350.0,pink floyd,2014.0,rock,0.0,1.0
24,4.0,my bloody valentine,1991.0,rock,NaN,NaN
25,194.0,my bloody valentine,1988.0,rock,NaN,NaN
26,279.0,my bloody valentine,2013.0,rock,NaN,NaN
27,5.0,kanye west,2010.0,pop,NaN,NaN
28,20.0,kanye west,2013.0,hip-hop,NaN,NaN
29,28.0,kanye west,2004.0,pop,NaN,NaN
30,38.0,kanye west,2016.0,pop,NaN,NaN
31,42.0,kanye west,2005.0,pop,NaN,NaN
32,44.0,kanye west,2007.0,pop,NaN,NaN
33,57.0,kanye west,2008.0,electronic,NaN,NaN
34,61.0,kanye west,2018.0,pop,NaN,NaN
35,110.0,kanye west,2019.0,hip-hop,NaN,NaN
36,148.0,kanye west,2021.0,hip-hop,NaN,NaN
37,8.0,neutral milk hotel,1998.0,rock,NaN,NaN
38,427.0,neutral milk hotel,1996.0,rock,NaN,NaN
39,10.0,kendrick lamar,2015.0,jazz,NaN,NaN
40,17.0,kendrick lamar,2012.0,hip-hop,NaN,NaN
41,47.0,kendrick lamar,2017.0,hip-hop,NaN,NaN
42,158.0,kendrick lamar,2016.0,jazz,NaN,NaN
43,177.0,kendrick lamar,2011.0,hip-hop,NaN,NaN
44,11.0,the velvet underground & nico,1967.0,rock,NaN,NaN
45,12.0,king crimson,1969.0,rock,NaN,NaN
46,101.0,king crimson,1974.0,rock,NaN,NaN
47,277.0,king crimson,1973.0,rock,NaN,NaN
48,331.0,king crimson,1981.0,rock,NaN,NaN
49,472.0,king crimson,1970.0,rock,NaN,NaN

In [ ]:
df_test[df_test['main_grammy_awards']==6]

In [17]:
a = most_popular_albuns
b = artist_grammys

most_popular_albuns_with_grammy_artists = pd.merge(left = a, right = b, left_on = 'artist_name', 
                                                   right_on = 'artist_name', how = 'outer' )

In [18]:
most_popular_albuns_with_grammy_artists

,popular_ranking,artist_name,release_date,genre,main_grammy_awards,main_grammy_nominations
0,1.0,radiohead,1997.0,rock,0.0,3.0
1,2.0,radiohead,2000.0,rock,0.0,3.0
2,6.0,radiohead,2007.0,rock,0.0,3.0
3,9.0,radiohead,1995.0,rock,0.0,3.0
4,21.0,radiohead,2001.0,rock,0.0,3.0
...,...,...,...,...,...,...
4873,NaN,carlos santana,NaN,NaN,2.0,2.0
4874,NaN,booker t & the mg's,NaN,NaN,0.0,0.0
4875,NaN,lynyrd skynrd,NaN,NaN,0.0,0.0
4876,NaN,diana ross and the supremes,NaN,NaN,0.0,0.0
4877,NaN,carl perkins,NaN,NaN,0.0,0.0

In [ ]:
most_popular_albuns_with_grammy_artists.info()

In [ ]:
most_popular_albuns_with_grammy_artists.isna().sum()

In [ ]:
most_popular_albuns[most_popular_albuns['artist_name']=='carl perkins']

In [ ]:
artist_grammys[artist_grammys['artist_name']=='carl perkins']

In [ ]:
#we'll drop the artists that don't have grammy's awards/nominations 
    #most popular ones
    
most_popular_albuns_with_grammy_artists[(most_popular_albuns_with_grammy_artists['main_grammy_awards']==0)\
                                         & (most_popular_albuns_with_grammy_artists['main_grammy_nominations']==0)]
                                         
most_popular_albuns_with_grammy_artists = most_popular_albuns_with_grammy_artists[(most_popular_albuns_with_grammy_artists\
                                         ['main_grammy_awards']!=0)\
                                         & (most_popular_albuns_with_grammy_artists['main_grammy_nominations']!=0)]

most_popular_albuns_with_grammy_artists.info()

In [ ]:
most_popular_albuns_with_grammy_artists.shape

In [ ]:
artist_grammys[((artist_grammys['main_grammy_awards']==0) & (artist_grammys['main_grammy_nominations']==0))]

In [ ]:
most_popular_albuns_with_grammy_artists[(most_popular_albuns_with_grammy_artists['main_grammy_awards'].isna==True)]