In [2]:
import pandas as pd

In [3]:
pd.read_csv('2. greatest_artists_grammys_billboard.csv')

,Rolling Stone Magazine Rank,Artist,Racial/Ethnic group,Main Grammy awards,Main Grammy Nominations,Total Awards,Total Nominations,UK number 1's
0,1,The Beatles,White/European,2,10,14,29,17
1,2,Bob Dylan,White/European,1,4,10,38,1
2,3,Elvis Presley,White/European,0,2,2,4,21
3,4,The Rolling Stones,White/European,0,1,4,14,8
4,5,Chuck Berry,Black/African,0,0,0,0,1
...,...,...,...,...,...,...,...,...
95,96,Diana Ross and the Supremes,Black/African,0,0,0,2,1
96,97,R.E.M.,White/European,0,3,3,13,0
97,98,Curtis Mayfield,Black/African,0,0,0,8,0
98,99,Carl Perkins,White/European,0,0,1,2,0
99,100,Talking Heads,White/European,0,0,0,2,0

In [ ]:
#what is possible to gather from this data set ?
    # Genres with more grammys --> have to relation this with data frame 1 because here we do not have a column genre. so the name of the artist have to be normalized with data set 1
    #Genres with more nomiations --> The agrregation of genres it only can be done after de cleaning and the concatenating with data set 1
    #here we are limited due the starting year of grammys awards 1959